pip>=25.0.0
openbb-cboe>=1.4.0 ; python_version >= "3.9" and python_version < "3.13"
openbb-charting>=2.3.2 ; python_version >= "3.9" and python_version < "3.13"
openbb-core>=1.4.0 ; python_version >= "3.9" and python_version < "3.13"
openbb-crypto>=1.4.0 ; python_version >= "3.9" and python_version < "3.13"
openbb-currency>=1.4.0 ; python_version >= "3.9" and python_version < "3.13"
openbb-equity>=1.4.0 ; python_version >= "3.9" and python_version < "3.13"
openbb-index>=1.4.0 ; python_version >= "3.9" and python_version < "3.13"
openbb-technical>=1.4.0 ; python_version >= "3.9" and python_version < "3.13"
openbb-tmx>=1.3.0 ; python_version >= "3.9" and python_version < "3.13"
openbb-yfinance>=1.4.1 ; python_version >= "3.9" and python_version < "3.13"
streamlit
